body{
    margin: 0;
    color: $grey;
}
h1,h2{
    font-family: georgia,sans-serif;
}
h1{
    font-size: 2.5em;
}

// container styles
.container{
    width: 1100px;
    margin: 0 auto;
}

// container tittle
.continer_tittle{
    text-align: center;
}
#subtitle{
    font-size: 1em;
}
.container_slider{
    float: left;
    max-width: 55%;
}
.slider{
    margin-top: 20px;
    margin-left: 14px;
}
.slider_image{
    max-width: 100%;
}
#slider_tittle{
    background-color: $green;
}
.slider_arrow_left{
    width: 45px;
    text-align: center;

}
.slider_arrow_right{
    width: 45px;
    text-align: right;
}
// container events
.container_events{
    float: right;
    max-width: 45%;
}
