.buttonleft {
  background-color: white;
  border: 0;
  color: inherit;
  float: left;
  padding: 2px;
  width: 45px;
  margin-top: 350px;
  float: left;
  cursor: pointer;
}

.buttonright {
  padding: 2px;
  background-color: white;
  border: 0;
  color: inherit;
  width: 45px;
  margin-top: 350px;
  cursor: pointer;
}

.button_tittle {
  font-weight: bold;
  font-size: 12px;
  color: $grey;
}

.button_tittle:hover {
  color: $white;
}

.event_button {
  border: 1px solid $grey;
  background-color: $white;
  height: 30px;
  border-radius: 100px;
}

.event_button:hover {
  background-color: $aqua;
  border-color: $white;
}


